<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Lịch sử</h2>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End Page title area -->


<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="single-sidebar">
                    <h2 class="sidebar-title">Sản phẩm mới</h2>
                    <ul>
                        {{#each newProducts}}
                            <li><a href="/product/{{this.productID}}">{{this.name}}</a></li>
                        {{/each}}
                    </ul>
                </div>
            </div>

            <div class="col-md-8">
                <h2 class="sidebar-title">Lịch sử giao dịch</h2>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Ngày</th>
                            <th>Giờ</th>
                            <th>Tổng cộng</th>
                            <th>Trạng thái</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each history}}
                            <tr>
                                <th>{{this.day}}</th>
                                <th>{{this.time}}</th>
                                <th>{{this.total}}</th>
                                <th><span style="color: blue">{{this.status}}</span></th>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
    $('ul.navbar-nav li').removeClass('active');
    $('li.history').addClass('active');
})
</script>