<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Danh sách sản phẩm</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<form class="search row container" method="GET">
    <div class="col-md-4 col-sm-6" align="center">
        <span>Nhà sản xuất</span>
        <select name="NhaSanXuat">
            <option value="">----</option>
            {{#each optionNhaSanXuat}}
                <option value="{{this}}"
                    {{#equal this ../NhaSanXuat}}
                        selected=""
                    {{/equal}}
                >{{this}}</option>
            {{/each}}    
        </select>
    </div>
    <div class="col-md-4 col-sm-6" align="center">
        <span>Xuất sứ</span>
        <select name="XuatXu">
            <option value="">----</option>
            {{#each optionXuatXu}}
                <option value="{{this}}"
                {{#equal this ../XuatXu}}
                        selected=""
                    {{/equal}}
                >{{this}}</option>
            {{/each}}
        </select>
    </div>
    <div class="col-md-4 col-sm-6" align="center">
        <input type="submit" value="Lọc" class="btn btn-primary"/>
    </div>
</form>
<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            {{#each products}}
            <div class="col-md-3 col-sm-6">
                <div class="single-shop-product">
                    <div class="product-upper">
                        <img src="{{this.img}}" alt="">
                    </div>
                    <h2><a href="/product/{{this.productID}}">{{this.name}}</a></h2>
                    <div class="product-carousel-price">
                        <ins>{{this.newPrice}}</ins> <del>{{this.oldPrice}}</del>
                    </div>

                    <div class="product-option-shop">
                        <button class="add_to_cart_button" for="{{this.productID}}">Add to cart</button>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>

        <div class="row">
            <div class="col-md-12">
                <hd-paging current-page="{{page}}" max-page="{{maxPage}}" for="category?NhaSanXuat={{NhaSanXuat}}&XuatXu={{XuatXu}}"></hd-paging>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function(){
    $('ul.navbar-nav li').removeClass('active');
    $('li.category').addClass('active');

    $('.add_to_cart_button').on('click',function(){
        // Get Product ID
        var productID =  this.getAttribute('for');
        // Call Ajax
        $.ajax({
        url: "/addToCart",
        method: "post",
        dataType: "json",
        async: false,
        contentType: "application/json",
        data: JSON.stringify({
            "productID": productID
        }),
        success: function (result) {
            if(result.status === "Success") alert('Thêm thành công');
            else alert("Thêm thất bại");
            // Refresh page
            location.reload();
        }
    })
    });
})
</script>