
<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Tìm kiếm</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="single-sidebar">
                    <h2 class="sidebar-title">Sản phẩm mới</h2>
                     <ul>
                        {{#each newProducts}}
                            <li><a href="/product/{{this.productID}}">{{this.name}}</a></li>
                        {{/each}}
                    </ul>
                </div>
            </div>

            <div class="col-md-8">
                <h2 class="search-h2">Tìm kiếm</h2>
                <div class="search-form">
                    <form method="GET">
                        <div class="col-md-4 col-sm-6">
                            <span>Xuất Xứ</span>
                            <select name="XuatXu">
                                <option value="">----</option>
                                {{#each optionXuatXu}}
                                    <option value="{{this}}"
                                    {{#equal this ../XuatXu}}
                                            selected=""
                                        {{/equal}}
                                    >{{this}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <span>Nhà sản xuất</span>
                            <select name="NhaSanXuat">
                                <option value="">----</option>
                                {{#each optionNhaSanXuat}}
                                    <option value="{{this}}"
                                        {{#equal this ../NhaSanXuat}}
                                            selected=""
                                        {{/equal}}
                                    >{{this}}</option>
                                {{/each}}    
                            </select>
                        </div>
                        <input type="text" class="form-control search-input" name="TuKhoa" placeholder="Tên sản phẩm" value="{{TuKhoa}}"/>
                        <input type="submit" class="btn btn-primary btn-find" value="Tìm Kiếm"/>
                    </form>
                    <hd-paging current-page="{{page}}" max-page="{{maxPage}}" for="search?XuatXu={{XuatXu}}&NhaSanXuat={{NhaSanXuat}}&TuKhoa={{TuKhoa}}"></hd-paging>
                </div>
                <div class="product-content-right">
                    <div class="woocommerce">
                        <div class="cart-collaterals">
                            <div class="cross-sells">
                                <ul class="products">
                                    {{#each result}}
                                    <li class="product">
                                        <a href="/product/{{this.productID}}">
                                            <img width="325" height="325" alt="T_4_front"
                                                class="attachment-shop_catalog wp-post-image"
                                                src="{{this.img}}">
                                            <h3>{{this.name}}</h3>
                                            <span class="price"><span class="amount">{{this.newPrice}} VNĐ</span></span>
                                        </a>
                                        <button class="add_to_cart_button" for="{{this.productID}}">Thêm vào giỏ hàng</button>
                                    </li>
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('ul.navbar-nav li').removeClass('active');
        $('li.search').addClass('active');

        $('.add_to_cart_button').on('click',function(){
        // Get Product ID
        var productID =  this.getAttribute('for');
        // Call Ajax
        $.ajax({
        url: "/addToCart",
        method: "post",
        dataType: "json",
        async: false,
        contentType: "application/json",
        data: JSON.stringify({
            "productID": productID
        }),
        success: function (result) {
            if(result.status === "Success") alert('Thêm thành công');
            else alert("Thêm thất bại");
            // Refresh page
            location.reload();
        }
        });
    })
    });
</script>