<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Giỏ Hàng</h2>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End Page title area -->


<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="single-sidebar">
                    <h2 class="sidebar-title">Sản phẩm mới</h2>
                    <ul>
                        {{#each newProducts}}
                        <li><a href="/product/{{this.productID}}">{{this.name}}</a></li>
                        {{/each}}
                    </ul>
                </div>
            </div>

            <div class="col-md-8">
                <div class="product-content-right">
                    <div class="woocommerce">
                        <form method="post" action="#">
                            <table cellspacing="0" class="shop_table cart">
                                <thead>
                                    <tr>
                                        <th class="product-remove">&nbsp;</th>
                                        <th class="product-thumbnail">&nbsp;</th>
                                        <th class="product-name">Tên sản phẩm</th>
                                        <th class="product-price">Giá</th>
                                        <th class="product-quantity">Số lượng</th>
                                        <th class="product-subtotal">Tổng cộng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each cart}}
                                    <tr class="cart_item">
                                        <td class="remove">
                                            <span title="Remove this item" class="remove-product"
                                                for="{{this.productID}}">×</span>
                                        </td>

                                        <td class="product-thumbnail">
                                            <a href="/product?productID={{this.productID}}"><img width="145"
                                                    height="145" alt="poster_1_up" class="shop_thumbnail"
                                                    src="{{this.img}}"></a>
                                        </td>

                                        <td class="product-name">
                                            <a href="/product?productID={{this.productID}}">{{this.name}}</a>
                                        </td>

                                        <td class="product-price">
                                            <span class="price" for="{{this.productID}}">{{this.price}}</span>
                                        </td>

                                        <td class="product-quantity">
                                            <div class="quantity buttons_added">
                                                <input type="number" size="4" class="input-text qty text" title="Qty"
                                                    value="{{this.quantity}}" min="1" step="1" for="{{this.productID}}">
                                            </div>
                                        </td>

                                        <td class="product-subtotal">
                                            <span class="total" for="{{this.productID}}">{{this.total}}</span>
                                        </td>
                                    </tr>
                                    {{/each}}
                                    <tr>
                                        <td class="actions" colspan="6">
                                            <span
                                                style="padding: 13px 10px;background: #5a88ca;color: white;border:none;cursor:pointer"
                                                id="update-cart">Cập nhật giỏ hàng</span>
                                            <a href="/checkout" class="checkout-button button alt wc-forward" id="checkout"
                                                style="padding: 13px 10px;background: #5a88ca;color: white;text-decoration: none;">Thanh
                                                toán</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var arrChange = [];
        $('ul.navbar-nav li').removeClass('active');
        $('li.cart').addClass('active');
        $('.qty').on('change', function () {
            var productID = this.getAttribute('for');
            var quantity = parseInt($(this).val());
            var price = $(`.price[for=${productID}]`).text();
            price = parseInt(price.replace(/\./g, ''));
            var total = price * quantity;
            total = total.toString().replace(/(.)(?=(\d{3})+$)/g, '$1.')
            $(`.total[for=${productID}]`).text(total);
        });
        $('.remove-product').on('click', function () {
            // Get Product ID
            var productID = this.getAttribute("for");

            // Call Ajax
            $.ajax({
                url: "/removeProduct",
                method: "post",
                dataType: "json",
                async: false,
                contentType: "application/json",
                data: JSON.stringify({
                    "productID": productID
                }),
                success: function (result) {
                    if (result.status === "Success") alert('Xóa thành công');
                    else alert("Xóa thất bại");
                    // Refresh page
                    location.reload();
                }
            })
        });
        $('.qty.text').on('change', function () {
                //get product id and qty
                var productID = $(this).attr('for');
                var quantity = $(this).val();
                var isExists = false;

                arrChange.forEach((ele) => {
                    if (ele.productID === productID) {
                        ele.quantity = quantity;
                        isExists = true;
                    }
                });
                if (!isExists) {
                    arrChange.push({
                        "productID": productID,
                        "quantity": quantity
                    });
                }
            });
        $('#update-cart').on('click', function () {
            console.log(arrChange);
            // Call Ajax
            $.ajax({
                url: "/updateProduct",
                method: "post",
                dataType: "json",
                async: false,
                contentType: "application/json",
                data: JSON.stringify(arrChange),
                success: function (result) {
                    if (result.status === "Success") alert('Cập nhât thành công');
                    else alert("Cập nhật thất bại");
                    // Refresh page
                    location.reload();
                }
            });
        })
        $("#checkout").on('click',function(e){
            e.preventDefault();

            // Call Ajax
            $.ajax({
                url: "/updateProduct",
                method: "post",
                dataType: "json",
                async: false,
                contentType: "application/json",
                data: JSON.stringify(arrChange),
                success: function (result) {
                    // Refresh page
                    window.location.replace("/checkout");
                }
            });
        })
    })
</script>